# Security-Header
(security_headers) {
	header * {
		# HSTS: nur HTTPS erzwingen
		Strict-Transport-Security "max-age=3600" 

		# Browser darf Content-Type nicht „erraten“
		X-Content-Type-Options "nosniff"

		# Schutz vor Clickjacking
		X-Frame-Options "SAMEORIGIN"

		# Weniger Daten im Referer an fremde Domains
		Referrer-Policy "strict-origin-when-cross-origin"

		# Server-Header entfernen
		-Server
	}
}

# NetBird Dashboard & Co.
netbird.example.de {
	import security_headers

	# Relay
	reverse_proxy /relay* relay:80

	# Signal
	reverse_proxy /ws-proxy/signal* signal:80
	reverse_proxy /signalexchange.SignalExchange/* h2c://signal:10000

	# Management
	reverse_proxy /api/* management:80
	reverse_proxy /ws-proxy/management* management:80
	reverse_proxy /management.ManagementService/* h2c://management:80

	# Dashboard
	reverse_proxy /* dashboard:80
}

# Authentik
auth.example.de {
	import security_headers
	reverse_proxy authentik-server:9000
}