services:
  caddy:
      image: caddy
      container_name: caddy
      restart: unless-stopped
      ports:
        - '443:443'
        - '443:443/udp'
        - '80:80'
      volumes:
        - ./caddy_data:/data
        - ./Caddyfile:/etc/caddy/Caddyfile
      networks:
        - caddy_net
networks:
  caddy_net:
    name: caddy_net